# Exploratory Data Analysis

In [1]:
DATA_PATH = '../data'

In [46]:
import pandas as pd
import os

case_df = pd.read_csv(os.path.join(DATA_PATH, 'Case.csv'))
patient_info_df = pd.read_csv(os.path.join(DATA_PATH, 'PatientInfo.csv'))
policy_df = pd.read_csv(os.path.join(DATA_PATH, 'Policy.csv'))
region_df = pd.read_csv(os.path.join(DATA_PATH, 'Region.csv'))
time_df = pd.read_csv(os.path.join(DATA_PATH, 'Time.csv'))

## Task 1.1

Show policy type and duration average in days unit, then sort it descending

In [48]:
policy_df

,policy_id,country,type,gov_policy,detail,start_date,end_date
0,1,Korea,Alert,Infectious Disease Alert Level,Level 1 (Blue),2020-01-03,2020-01-19
1,2,Korea,Alert,Infectious Disease Alert Level,Level 2 (Yellow),2020-01-20,2020-01-27
2,3,Korea,Alert,Infectious Disease Alert Level,Level 3 (Orange),2020-01-28,2020-02-22
3,4,Korea,Alert,Infectious Disease Alert Level,Level 4 (Red),2020-02-23,NaN
4,5,Korea,Immigration,Special Immigration Procedure,from China,2020-02-04,NaN
...,...,...,...,...,...,...,...
56,57,Korea,Transformation,Logistics center,On-site inspection of major logistics faciliti...,2020-05-29,2020-06-11
57,58,Korea,Transformation,Wearing of masks,"Mandatory wearing of passenger mask domestic, ...",2020-05-27,NaN
58,59,Korea,Transformation,Wearing of masks,Drivers such as buses and taxis can refuse to ...,2020-05-26,NaN
59,60,Korea,Technology,KI-Pass: Korea Internet - Pass,new quick response (QR) code system this week ...,2020-06-10,NaN
60,61,Korea,Health,Extends Tightened Quarantine Measures,Gov't Extends Tightened Quarantine Measures in...,2020-05-28,2020-06-14

In [49]:
policy_df['start_date'].isna().sum()

0

In [50]:
policy_df['end_date'].isna().sum()

37

Assume missing values are today date

In [53]:
from datetime import datetime

policy_df['end_date'].fillna(value=datetime.today().strftime('%Y-%m-%d'), inplace=True)

In [54]:
policy_df['end_date'].isna().sum()

0

In [55]:
policy_df['start_date'] = pd.to_datetime(policy_df['start_date'])
policy_df['start_date']

0    2020-01-03
1    2020-01-20
2    2020-01-28
3    2020-02-23
4    2020-02-04
        ...
56   2020-05-29
57   2020-05-27
58   2020-05-26
59   2020-06-10
60   2020-05-28
Name: start_date, Length: 61, dtype: datetime64[ns]

In [56]:
policy_df['end_date'] = pd.to_datetime(policy_df['end_date'])
policy_df['end_date']

0    2020-01-19
1    2020-01-27
2    2020-02-22
3    2022-06-17
4    2022-06-17
        ...
56   2020-06-11
57   2022-06-17
58   2022-06-17
59   2022-06-17
60   2020-06-14
Name: end_date, Length: 61, dtype: datetime64[ns]

Apply mapping to get duration

In [63]:
policy_df['duration'] = (policy_df['end_date'] - policy_df['start_date']).map(lambda d: d.days)
policy_df['duration']

0      16
1       7
2      25
3     845
4     864
     ...
56     13
57    751
58    752
59    737
60     17
Name: duration, Length: 61, dtype: int64

In [67]:
policy_mean_dur_df = policy_df[['type', 'duration']].groupby(by='type', as_index=False).mean().sort_values(by='duration', ascending=False)
policy_mean_dur_df

             type    duration
4     Immigration  828.333333
6      Technology  819.333333
3          Health  759.300000
7  Transformation  505.333333
5          Social  325.600000
0  Administrative  268.333333
1           Alert  223.250000
2       Education   95.866667