# Exploratory Data Analysis

In [1]:
DATA_PATH = '../data'

In [2]:
import pandas as pd
import os

case_df = pd.read_csv(os.path.join(DATA_PATH, 'Case.csv'))
patient_info_df = pd.read_csv(os.path.join(DATA_PATH, 'PatientInfo.csv'))
policy_df = pd.read_csv(os.path.join(DATA_PATH, 'Policy.csv'))
region_df = pd.read_csv(os.path.join(DATA_PATH, 'Region.csv'))
time_df = pd.read_csv(os.path.join(DATA_PATH, 'Time.csv'))

## Task 1.1

Show policy type and duration average in days unit, then sort it descending

In [3]:
policy_df

,policy_id,country,type,gov_policy,detail,start_date,end_date
0,1,Korea,Alert,Infectious Disease Alert Level,Level 1 (Blue),2020-01-03,2020-01-19
1,2,Korea,Alert,Infectious Disease Alert Level,Level 2 (Yellow),2020-01-20,2020-01-27
2,3,Korea,Alert,Infectious Disease Alert Level,Level 3 (Orange),2020-01-28,2020-02-22
3,4,Korea,Alert,Infectious Disease Alert Level,Level 4 (Red),2020-02-23,NaN
4,5,Korea,Immigration,Special Immigration Procedure,from China,2020-02-04,NaN
...,...,...,...,...,...,...,...
56,57,Korea,Transformation,Logistics center,On-site inspection of major logistics faciliti...,2020-05-29,2020-06-11
57,58,Korea,Transformation,Wearing of masks,"Mandatory wearing of passenger mask domestic, ...",2020-05-27,NaN
58,59,Korea,Transformation,Wearing of masks,Drivers such as buses and taxis can refuse to ...,2020-05-26,NaN
59,60,Korea,Technology,KI-Pass: Korea Internet - Pass,new quick response (QR) code system this week ...,2020-06-10,NaN
60,61,Korea,Health,Extends Tightened Quarantine Measures,Gov't Extends Tightened Quarantine Measures in...,2020-05-28,2020-06-14

In [4]:
policy_df['start_date'].isna().sum()

0

In [5]:
policy_df['end_date'].isna().sum()

37

Assume missing values are today date

In [6]:
from datetime import datetime

policy_df['end_date'].fillna(value=datetime.today().strftime('%Y-%m-%d'), inplace=True)

In [7]:
policy_df['end_date'].isna().sum()

0

In [8]:
policy_df['start_date'] = pd.to_datetime(policy_df['start_date'])
policy_df['start_date']

0    2020-01-03
1    2020-01-20
2    2020-01-28
3    2020-02-23
4    2020-02-04
        ...
56   2020-05-29
57   2020-05-27
58   2020-05-26
59   2020-06-10
60   2020-05-28
Name: start_date, Length: 61, dtype: datetime64[ns]

In [9]:
policy_df['end_date'] = pd.to_datetime(policy_df['end_date'])
policy_df['end_date']

0    2020-01-19
1    2020-01-27
2    2020-02-22
3    2022-06-19
4    2022-06-19
        ...
56   2020-06-11
57   2022-06-19
58   2022-06-19
59   2022-06-19
60   2020-06-14
Name: end_date, Length: 61, dtype: datetime64[ns]

Apply mapping to get duration

In [10]:
policy_df['duration'] = (policy_df['end_date'] - policy_df['start_date']).map(lambda d: d.days)
policy_df['duration']

0      16
1       7
2      25
3     847
4     866
     ...
56     13
57    753
58    754
59    739
60     17
Name: duration, Length: 61, dtype: int64

In [11]:
policy_mean_dur_df = policy_df[['type', 'duration']].groupby(by='type', as_index=False).mean().sort_values(by='duration', ascending=False)
policy_mean_dur_df

             type    duration
4     Immigration  830.333333
6      Technology  821.333333
3          Health  761.100000
7  Transformation  506.666667
5          Social  326.400000
0  Administrative  269.000000
1           Alert  223.750000
2       Education   96.000000

## Task 1.2

Get patient data count that lives in Seoul, then group it based on age and sex, finally sort them based on patient count ascending

In [12]:
patient_info_df

,patient_id,sex,age,country,province,city,infection_case,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,male,50s,Korea,Seoul,Gangseo-gu,overseas inflow,NaN,75,2020-01-22,2020-01-23,2020-02-05,NaN,released
1,1000000002,male,30s,Korea,Seoul,Jungnang-gu,overseas inflow,NaN,31,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,male,50s,Korea,Seoul,Jongno-gu,contact with patient,2002000001,17,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,male,20s,Korea,Seoul,Mapo-gu,overseas inflow,NaN,9,2020-01-26,2020-01-30,2020-02-15,NaN,released
4,1000000005,female,20s,Korea,Seoul,Seongbuk-gu,contact with patient,1000000002,2,NaN,2020-01-31,2020-02-24,NaN,released
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5160,7000000015,female,30s,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,25,NaN,2020-05-30,2020-06-13,NaN,released
5161,7000000016,NaN,NaN,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,NaN,NaN,2020-06-16,2020-06-24,NaN,released
5162,7000000017,NaN,NaN,Bangladesh,Jeju-do,Jeju-do,overseas inflow,NaN,72,NaN,2020-06-18,NaN,NaN,isolated
5163,7000000018,NaN,NaN,Bangladesh,Jeju-do,Jeju-do,overseas inflow,NaN,NaN,NaN,2020-06-18,NaN,NaN,isolated
5164,7000000019,NaN,NaN,Bangladesh,Jeju-do,Jeju-do,overseas inflow,NaN,NaN,NaN,2020-06-18,NaN,NaN,isolated

In [13]:
seoul_patient_df = patient_info_df[patient_info_df['province'] == 'Seoul']
seoul_patient_df

,patient_id,sex,age,country,province,city,infection_case,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,male,50s,Korea,Seoul,Gangseo-gu,overseas inflow,NaN,75,2020-01-22,2020-01-23,2020-02-05,NaN,released
1,1000000002,male,30s,Korea,Seoul,Jungnang-gu,overseas inflow,NaN,31,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,male,50s,Korea,Seoul,Jongno-gu,contact with patient,2002000001,17,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,male,20s,Korea,Seoul,Mapo-gu,overseas inflow,NaN,9,2020-01-26,2020-01-30,2020-02-15,NaN,released
4,1000000005,female,20s,Korea,Seoul,Seongbuk-gu,contact with patient,1000000002,2,NaN,2020-01-31,2020-02-24,NaN,released
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,1000001308,NaN,NaN,Korea,Seoul,Mapo-gu,Richway,1000001290,NaN,NaN,2020-06-29,NaN,NaN,isolated
1308,1000001309,NaN,NaN,Korea,Seoul,Mapo-gu,Richway,1000001290,NaN,NaN,2020-06-29,NaN,NaN,isolated
1309,1000001310,NaN,NaN,Korea,Seoul,Geumcheon-gu,contact with patient,NaN,NaN,NaN,2020-06-29,NaN,NaN,isolated
1310,1000001311,NaN,NaN,Korea,Seoul,etc,NaN,NaN,NaN,NaN,2020-06-29,NaN,NaN,isolated
1311,1000001312,NaN,NaN,Korea,Seoul,Eunpyeong-gu,NaN,NaN,NaN,2020-06-24,2020-06-29,NaN,NaN,isolated

Check whether missing value of age and sex is the same data

In [14]:
(seoul_patient_df['age'].isna() == seoul_patient_df['sex'].isna()).unique()

array([ True])

Missing value of age and sex is the same data. Make it unknown, rather than NaN

In [15]:
seoul_patient_df['age'] = seoul_patient_df['age'].fillna('unknown')
seoul_patient_df['age'].isna().sum()

C:\Users\gunaw\AppData\Local\Temp\ipykernel_28468\3322595891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_patient_df['age'] = seoul_patient_df['age'].fillna('unknown')

0

In [16]:
seoul_patient_df['sex'] = seoul_patient_df['sex'].fillna('unknown')
seoul_patient_df['sex'].isna().sum()

C:\Users\gunaw\AppData\Local\Temp\ipykernel_28468\3726785871.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_patient_df['sex'] = seoul_patient_df['sex'].fillna('unknown')

0

Make sure `patient_id` have no missing values and no duplicates.

In [17]:
seoul_patient_df['patient_id'].isna().sum(), seoul_patient_df['patient_id'].duplicated().sum()

(0, 0)

In [18]:
grouped_age_sex_df = seoul_patient_df[['age', 'sex', 'patient_id']].groupby(by=['age', 'sex'], as_index=False).count().sort_values(by='patient_id')
grouped_age_sex_df

        age      sex  patient_id
18      90s     male           2
1        0s     male           3
16      80s   female           4
0        0s   female           5
17      80s     male           6
15      70s     male          10
3       10s     male          13
2       10s   female          14
14      70s   female          16
13      60s     male          23
12      60s   female          24
9       40s     male          40
6       30s   female          42
8       40s   female          46
11      50s     male          46
7       30s     male          58
10      50s   female          67
5       20s     male          71
4       20s   female          94
19  unknown  unknown         728

Rename `patient_id` to `count`

In [19]:
grouped_age_sex_df.rename(columns=dict(patient_id='count'), inplace=True)
grouped_age_sex_df

        age      sex  count
18      90s     male      2
1        0s     male      3
16      80s   female      4
0        0s   female      5
17      80s     male      6
15      70s     male     10
3       10s     male     13
2       10s   female     14
14      70s   female     16
13      60s     male     23
12      60s   female     24
9       40s     male     40
6       30s   female     42
8       40s   female     46
11      50s     male     46
7       30s     male     58
10      50s   female     67
5       20s     male     71
4       20s   female     94
19  unknown  unknown    728

## Task 1.3

Show 5 cities with most case, then elders ratio, finally sort them by most cases descending.

In [20]:
case_df

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Yongsan-gu,True,Itaewon Clubs,139,37.538621,126.992652
1,1000002,Seoul,Gwanak-gu,True,Richway,119,37.48208,126.901384
2,1000003,Seoul,Guro-gu,True,Guro-gu Call Center,95,37.508163,126.884387
3,1000004,Seoul,Yangcheon-gu,True,Yangcheon Table Tennis Club,43,37.546061,126.874209
4,1000005,Seoul,Dobong-gu,True,Day Care Center,43,37.679422,127.044374
...,...,...,...,...,...,...,...,...
169,6100012,Gyeongsangnam-do,-,False,etc,20,-,-
170,7000001,Jeju-do,-,False,overseas inflow,14,-,-
171,7000002,Jeju-do,-,False,contact with patient,0,-,-
172,7000003,Jeju-do,-,False,etc,4,-,-
173,7000004,Jeju-do,from other city,True,Itaewon Clubs,1,-,-

In [21]:
region_df

,code,province,city,latitude,longitude,elementary_school_count,kindergarten_count,university_count,academy_ratio,elderly_population_ratio,elderly_alone_ratio,nursing_home_count
0,10000,Seoul,Seoul,37.566953,126.977977,607,830,48,1.44,15.38,5.8,22739
1,10010,Seoul,Gangnam-gu,37.518421,127.047222,33,38,0,4.18,13.17,4.3,3088
2,10020,Seoul,Gangdong-gu,37.530492,127.123837,27,32,0,1.54,14.55,5.4,1023
3,10030,Seoul,Gangbuk-gu,37.639938,127.025508,14,21,0,0.67,19.49,8.5,628
4,10040,Seoul,Gangseo-gu,37.551166,126.849506,36,56,1,1.17,14.39,5.7,1080
...,...,...,...,...,...,...,...,...,...,...,...,...
239,61160,Gyeongsangnam-do,Haman-gun,35.272481,128.406540,16,20,0,1.19,23.74,14.7,94
240,61170,Gyeongsangnam-do,Hamyang-gun,35.520541,127.725177,13,12,0,1.01,32.65,20.9,83
241,61180,Gyeongsangnam-do,Hapcheon-gun,35.566702,128.165870,17,15,0,0.71,38.44,24.7,96
242,70000,Jeju-do,Jeju-do,33.488936,126.500423,113,123,4,1.53,15.10,6.4,1245
243,80000,Korea,Korea,37.566953,126.977977,6087,8837,340,1.56,15.67,7.2,94865

In [22]:
case_df['city'].unique()

array(['Yongsan-gu', 'Gwanak-gu', 'Guro-gu', 'Yangcheon-gu', 'Dobong-gu',
       'from other city', 'Dongdaemun-gu', 'Eunpyeong-gu', 'Seongdong-gu',
       'Jongno-gu', 'Gangnam-gu', 'Jung-gu', 'Seodaemun-gu',
       'Geumcheon-gu', 'Yeongdeungpo-gu', 'Seocho-gu', 'Gangseo-gu', '-',
       'Dongnae-gu', 'Suyeong-gu', 'Haeundae-gu', 'Jin-gu', 'Nam-gu',
       'Dalseong-gun', 'Seo-gu', 'Dong-gu', 'Sejong', 'Seongnam-si',
       'Bucheon-si', 'Uijeongbu-si', 'Anyang-si', 'Suwon-si', 'Wonju-si',
       'Goesan-gun', 'Cheonan-si', 'Seosan-si', 'Muan-gun',
       'Cheongdo-gun', 'Bonghwa-gun', 'Gyeongsan-si', 'Yechun-gun',
       'Chilgok-gun', 'Gumi-si', 'Geochang-gun', 'Jinju-si',
       'Changwon-si', 'Changnyeong-gun', 'Yangsan-si'], dtype=object)

Remove other city and unknown city

In [23]:
known_city_df = case_df[(case_df['city'] != '-') & (case_df['city'] != 'from other city')]
known_city_df

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Yongsan-gu,True,Itaewon Clubs,139,37.538621,126.992652
1,1000002,Seoul,Gwanak-gu,True,Richway,119,37.48208,126.901384
2,1000003,Seoul,Guro-gu,True,Guro-gu Call Center,95,37.508163,126.884387
3,1000004,Seoul,Yangcheon-gu,True,Yangcheon Table Tennis Club,43,37.546061,126.874209
4,1000005,Seoul,Dobong-gu,True,Day Care Center,43,37.679422,127.044374
...,...,...,...,...,...,...,...,...
160,6100003,Gyeongsangnam-do,Jinju-si,True,Wings Tower,9,35.164845,128.126969
161,6100004,Gyeongsangnam-do,Geochang-gun,True,Geochang-gun Woongyang-myeon,8,35.805681,127.917805
162,6100005,Gyeongsangnam-do,Changwon-si,True,Hanmaeum Changwon Hospital,7,35.22115,128.6866
163,6100006,Gyeongsangnam-do,Changnyeong-gun,True,Changnyeong Coin Karaoke,7,35.54127,128.5008
164,6100007,Gyeongsangnam-do,Yangsan-si,True,Soso Seowon,3,35.338811,129.017508

In [24]:
known_city_df[known_city_df['city'] == 'Seo-gu']

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
50,1200003,Daegu,Seo-gu,True,Hansarang Convalescent Hospital,124,35.885592,128.556649
71,1500002,Daejeon,Seo-gu,True,Dunsan Electronics Town,13,36.3400973,127.3927099
72,1500003,Daejeon,Seo-gu,True,Orange Town,7,36.3398739,127.3819744
73,1500004,Daejeon,Seo-gu,True,Dreaming Church,4,36.346869,127.368594
74,1500005,Daejeon,Seo-gu,True,Korea Forest Engineer Institute,3,36.358123,127.388856

There are two cities with the same name but in same province. So it should be treated different city.

In [25]:
total_cases_df = known_city_df[['city', 'province', 'confirmed']].groupby(by=['city', 'province'], as_index=False).sum().sort_values(by='confirmed', ascending=False)
total_cases_df

               city           province  confirmed
30           Nam-gu              Daegu       4511
8      Dalseong-gun              Daegu        297
22        Gwanak-gu              Seoul        149
21          Guro-gu              Seoul        139
47       Yongsan-gu              Seoul        139
32           Seo-gu              Daegu        124
6      Cheongdo-gun   Gyeongsangbuk-do        119
5        Cheonan-si  Chungcheongnam-do        103
23     Gyeongsan-si   Gyeongsangbuk-do         99
37      Seongnam-si        Gyeonggi-do         94
1       Bonghwa-gun   Gyeongsangbuk-do         68
2        Bucheon-si        Gyeonggi-do         67
41     Uijeongbu-si        Gyeonggi-do         50
43     Yangcheon-gu              Seoul         46
9         Dobong-gu              Seoul         43
45       Yechun-gun   Gyeongsangbuk-do         40
31           Sejong             Sejong         39
0         Anyang-si        Gyeonggi-do         39
10          Dong-gu              Daegu         39
13       Dongnae-gu              Busan         39
7       Chilgok-gun   Gyeongsangbuk-do         36
33           Seo-gu            Daejeon         27
39         Suwon-si        Gyeonggi-do         25
28          Jung-gu              Seoul         23
15       Gangnam-gu              Seoul         18
17     Geochang-gun   Gyeongsangnam-do         18
12    Dongdaemun-gu              Seoul         17
27        Jongno-gu              Seoul         17
14     Eunpyeong-gu              Seoul         14
36     Seongdong-gu              Seoul         13
19       Goesan-gun  Chungcheongbuk-do         11
20          Gumi-si   Gyeongsangbuk-do         10
26         Jinju-si   Gyeongsangnam-do          9
38        Seosan-si  Chungcheongnam-do          9
3   Changnyeong-gun   Gyeongsangnam-do          7
4       Changwon-si   Gyeongsangnam-do          7
18     Geumcheon-gu              Seoul          6
24      Haeundae-gu              Busan          6
35     Seodaemun-gu              Seoul          5
34        Seocho-gu              Seoul          5
11          Dong-gu            Gwangju          5
40       Suyeong-gu              Busan          5
42         Wonju-si         Gangwon-do          4
25           Jin-gu              Busan          4
44       Yangsan-si   Gyeongsangnam-do          3
46  Yeongdeungpo-gu              Seoul          3
29         Muan-gun       Jeollanam-do          2
16       Gangseo-gu              Seoul          0

In [26]:
top_five = total_cases_df.head()
top_five

            city province  confirmed
30        Nam-gu    Daegu       4511
8   Dalseong-gun    Daegu        297
22     Gwanak-gu    Seoul        149
21       Guro-gu    Seoul        139
47    Yongsan-gu    Seoul        139

Join the top five table with region_df to get information about elders population ratio

In [27]:
joined_df = top_five.merge(region_df, on=['city', 'province'])
joined_df

,city,province,confirmed,code,latitude,longitude,elementary_school_count,kindergarten_count,university_count,academy_ratio,elderly_population_ratio,elderly_alone_ratio,nursing_home_count
0,Nam-gu,Daegu,4511,12010,35.846300,128.597723,11,15,2,0.85,22.49,10.4,345
1,Dalseong-gun,Daegu,297,12030,35.774750,128.431314,32,47,1,1.51,12.11,5.4,361
2,Gwanak-gu,Seoul,149,10050,37.478290,126.951502,22,33,1,0.89,15.12,4.9,909
3,Guro-gu,Seoul,139,10070,37.495632,126.887650,26,34,3,1.00,16.21,5.7,741
4,Yongsan-gu,Seoul,139,10210,37.532768,126.990021,15,13,1,0.68,16.87,6.5,435

Add province information

In [34]:
joined_df['complete_city'] = joined_df.apply(lambda x: x['city'] + ', ' + x['province'], axis=1)
joined_df['complete_city']

0          Nam-gu, Daegu
1    Dalseong-gun, Daegu
2       Gwanak-gu, Seoul
3         Guro-gu, Seoul
4      Yongsan-gu, Seoul
Name: complete_city, dtype: object

In [39]:
final_df = joined_df[['complete_city', 'confirmed', 'elderly_population_ratio']]
final_df

         complete_city  confirmed  elderly_population_ratio
0        Nam-gu, Daegu       4511                     22.49
1  Dalseong-gun, Daegu        297                     12.11
2     Gwanak-gu, Seoul        149                     15.12
3       Guro-gu, Seoul        139                     16.21
4    Yongsan-gu, Seoul        139                     16.87

## Export the dataframes to csv

In [36]:
with open(os.path.join(DATA_PATH, 'task11.csv'), 'wb') as f: 
    policy_mean_dur_df.to_csv(f, index=False)

In [37]:
with open(os.path.join(DATA_PATH, 'task12.csv'), 'wb') as f: 
    grouped_age_sex_df.to_csv(f, index=False)

In [40]:
with open(os.path.join(DATA_PATH, 'task13.csv'), 'wb') as f: 
    final_df.to_csv(f, index=False)